.main{
    display: flex;
}

.calculator-box{
    border: 2px solid black;
    width: 500px;
    height: 600px;
}
.operator-section > button{
    height: 90px;

}
.calculation-area{
    width: 475px;
    border: 2px solid black;
    margin: 10px;
    height: 100px;
}
.input-section{
    display: flex;
  
}
.operand-section{
    display: grid;
    grid-template-columns: auto auto auto;
    width:360px;
    height: 450px;
    margin: 10px;
}
.operator-section{
    display: grid;
    margin: 10px;
    width:100px;
    height: 450px;
}
.history{
    border: 2px solid black;
    width: 400px;
    height: 600px;
    margin-left: 10px;
}
.history-text{
    margin: 30px;
font-size: xx-large;
}
.history-calculations{
    height: 100%;
}