.ToDoList {
  /* background-color: rgba(0, 0, 0, 0  .6); */
  margin : 100px;
}
.inputAreaSection {
  width:400px;
  height: 80px;
  background-color: rgba(0, 0, 0,0.7);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}
.inputAreaSection > input {
  margin-top: 30px;
  margin-left: 10px;
  width: 70%;
  font-size: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0,0.7);
  color: wheat;
}
.inputAreaSection > button {
  border-radius: 50%;
  margin-left: 05%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
}

.listAreaSection {
  margin-top: 7px;
  width:400px;
  height: 400px;
  background-color: rgba(0, 0, 0,0.7);
  overflow: auto;
  scroll-behavior:inherit;
}
.listBox {
  display: flex;
  width: 97%;
  background-color: rgba(0, 0, 0,0.7);
  margin-top: 5px;
  border: 2px solid wheat;
  border-radius: 5px;
  color: wheat;
  margin-left: 4px;
  font-weight: bolder;
}

.LBInput {
  width: 20%;
  border-top-left-radius: 10px;
}
.LBHeading {
  width: 60%;
  overflow : auto;
}
.LBButton {
  width: 20px;
}

.LBInput > input {
  margin: 20px;
  width: 20px;
  height: 20px;
} 

.LBButton > button {
  margin: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

button {
  background-color: wheat;
  color: black;
  cursor: pointer;
}

.clearDatabutton{
  font-weight: bolder;
  font-size: larger;
  background-color: wheat;
  color: black;
  margin-top: 10px;
  border-radius: 10px;
}

.filterButtonsSection {
  margin-top: 7px;
  width:380px;
  height: 60px;
  background-color: rgba(0, 0, 0,0.7);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px;

}
.filterButtonsSection > div {
  display: flex;
}

.filterButtonsSection > div > button {
  font-weight: bolder;
  width: 100%;
  font-size: 100%;
}
#all {
  height: 60px;
  border-bottom-left-radius: 30px;
}
#completed {
  height: 60px;
}
#active {
  height: 60px;
  border-bottom-right-radius: 30px;
}
