/* Sorting Component  */

.areaOfAlgorithmsVisualization {
    width: 95%;
    margin:30px;
    height: 400px;
    border-radius: 20px;
    box-shadow: cyan 2px 2px 12px;
}

.sortingInformationOne {
    margin-bottom: 35px;
    display: flex;
}
.sortingInformationTwo {
    display: flex;
    margin-top: 35px;
}
.sortingTime { 
    position: absolute;
    left: 40%;
}
 
.sortingComparison {
    position: absolute;
    left: 40%
}

.sortingBlockBox { 
    width: 50%;
    height: 200px;
    background-color: cyan;
    padding: 20px;
    border-radius: 20px;
    border : 2px solid black;
}
.numberBoxArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto ;
}
.box {
    margin: 5px;
    padding-left: 10px;
    padding-top: 10px;
    width : 30px;
    height: 30px;
    background-color: skyblue;
    border-radius: 10px;
    border: 2px solid black;
}
.inputControllerComponent {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}
.inputControllerComponent input {
    width: 60%;
    height: 50px;
    border-radius: 40px;
    margin-left: 10px;
}

.inputControllerComponent > button{
    width: 15%;
    height: 40px;
    border-radius: 10px;
    padding: auto;
    margin: auto;
    margin-left: 10px;
}

/* Navigation Component  */
.timeCountButton {
    display: flex;
    width: 10%;
    border:2px solid black;
    margin-left: 10px;
    padding-top: 2px;
    border-radius: 20px;
    margin-right: 5px;
}
.timeCountButton :focus {
    border:none;
    outline:none; 
}
/* Navigation Component  */
.navigationOptions {
    display: flex;
    background-color: darkblue;
    width: 100%;
    flex : 1;
}
.algoOptionButton{
    width:100%;

}
